* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, .03);
}

nav,
nav ul {
  display: flex;
}

nav {
  width: 95%;
  justify-content: space-between;
  margin: 1em auto;
  align-items: center;
}

nav ul {
  list-style: none;
  margin-bottom: 0;
}

nav li {
  margin: 0 1.2em;
  font-size: 1.1em;
}

nav a {
  text-decoration: none;
  color: #222;
}

a.logo {
  font-size: 1.6em;
  color: #48487f;
  font-family: 'Vollkorn', serif;
}

.logo span {
  display: none;
}

a.call,
.product-desc button,
.details,
.offer-details button,
.onsale-desc button {
  background: #f88d36;
  padding: .6em 1em;
  font-size: 1em;
  border-radius: 3px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, .2);
  color: white;
}

.product-desc button,
.offer-details button,
.onsale-desc button {
  font-size: 1.1em;
}

.introduction {
  background-color: #f8f8f8;
}

.offer,
.onsale {
  display: flex;
  flex-direction: row;
}

.product-img {
  position: relative;
  width: 100%;
  background-image: url(../img/photo_25.jpg);
  background-position: center;
  background-size: cover;
  height: 437px;
}

.product-desc {
  width: 50%;
}

.desc-content {
  margin: 10em 3em 0 10em;
}

.desc-content h1 {
  color: white;
  margin-bottom: .4em;
  font-size: 3.5em;
}

.desc-content p {
  font-size: 1.3em;
  line-height: 2;
}

form.form-consult {
  display: flex;
  flex-direction: column;
  /* width: 40%; */
  margin: 1.5em auto 0 auto;
  background: white;
  padding: 1.5em 2em;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, .1);
}

.form-consult label {
  font-size: 1.5em;
  margin: 0 0 .4em 0;
  text-align: center;
}

.form-consult input {
  height: 45px;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 0 0 0 .7em;
  margin: 0 0 .9em 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.05em;
}

.form-consult textarea {
  height: 90px;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: .5em 0 0 .7em;
  margin: 0 0 .9em 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.05em;
}

.form-consult button {
  height: 50px;
  color: white;
  background: #f88d36;
  border: 1px solid #f88d36;
  font-size: 1.1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
}

h1 {
  font-size: 2.4em;
  margin: 0 0 .7em 0;
  color: #222;
  font-family: 'Vollkorn', serif;
}

h3 {
  font-family: 'Vollkorn', serif;
  color: #f88d36;
}

.kitchens-show h6,
.kitchens-show p,
.offer-details p,
.onsale-desc p {
  font-size: 1em;
  line-height: 1.7;
  color: #aaa;
}

.product-desc button,
.offer-details button,
.onsale-desc button {
  border: none;
  margin: 2em 0 0 0;
  font-family: 'Vollkorn', serif;
}

.kitchens-show p {
  font-size: 1em;
}

.recent-designs {
  padding: 0 0 6em 0;
  position: relative;
}

.recent-heading {
  padding: 2em 0;
}

.recent-designs h1 {
  margin: 3.5em 0 1em 0;
}

div.border-right {
  border-right: 1px solid #eee;
}

.image-section {
  height: 250px;
  background-size: cover;
}

.kitchens-show h6 {
  color: #222;
  padding: .7em 1em;
  font-size: 1.05em;
  font-weight: bold;
  background: #fff;
  text-align: center;
  font-weight: bold;
}

.kitchens-show h6 a {
  color: #48487f;
}

.details {
  position: relative;
  top: 30px;
  text-decoration: none;
  left: 8.7em;
}

.offer,
.onsale {
  width: 83%;
  margin: 5em auto;
}

.offer-img img {
  width: 600px;
  height: 450px;
}

.offer-details {
  display: flex;
  flex-direction: column;
  margin: 7em 0 0 5em;
}

.offer-details h2 {
  margin: 0 0 1em 0;
  color: #222;
}

.icon-section {
  margin: 1em 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon-section div {
  width: 50%;
}

.offer-details button {
  width: 40%;
  text-transform: capitalize;
}

.onsale {
  padding-top: 7em;
}

.onsale-desc {
  width: 50%;
}

.onsale-desc h1 {
  margin: 4em 0 1em 0;
}

.onsale-img {
  position: relative;
}

.onsale-img img {
  margin: 0 0 0 5em;
  height: 600px;
  box-shadow: 5px 15px 30px rgba(0, 0, 0, .2);
}

.badge {
  text-align: center;
  background-color: #f88d36;
  border-radius: 50%;
  z-index: -1000;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  height: 170px;
  width: 170px;
  line-height: 135px;
  position: absolute;
  top: -92px;
  right: -74px;
}

.pdts-content {
  text-align: center;
  position: relative;
}

.step h3 {
  font-size: 2.4em;
}

.step a {
  font-size: 1.1em;
  text-decoration: underline;
}

.font-size-p {
  font-size: 1.1em;
}

.other-pdts {
  margin: 0 0 8em 0;
}

.pdt {
  height: 280px;
  position: relative;
  margin: 1em 0 0 0;
}

.pdt p {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  padding: .7em 0;
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

#pdt1 {
  background: url(../img/stand-2.jpg);
  background-size: cover;
}

#pdt2 {
  background: url(../img/decok7.jpeg);
  background-size: cover;
}

#pdt3 {
  background: url(../img/platform-bed.jpg);
  background-size: cover;
}

footer {
  background: rgba(0, 0, 0, .75);
  margin: 0em 0 0 0;
}

.footer-content {
  padding: 4em 0;
}

.footer-content p {
  font-weight: 600;
  margin: 1em 0 1em 0;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .65);
}

.navigate ul,
.address ul {
  list-style: none;
}

.navigate li {
  line-height: 2em;
  text-transform: capitalize;
}

.navigate a {
  color: rgba(255, 255, 255, .65);
  text-decoration: none;
}

.address {
  margin: 2.5em 0 0 0;
}

.address ul {
  text-align: right;
}

.address li {
  line-height: 2;
  color: #aaa;
}

li.li-1 {
  font-size: 1.5em;
  font-weight: 600;
  color: #222;
}

.footer-copy {
  border-top: 1px solid rgba(255, 255, 255, .2);
}

.copy-content {
  padding: 1em 0;
  color: rgba(255, 255, 255, .65);
  text-align: center;
}

.copy-content ul {
  list-style: none;
  display: flex;
}

.copy-content li {
  margin: 0 1em;
}

.copy-content a {
  text-decoration: none;
  color: #aaa;
}

footer .form {
  display: flex;
  flex-direction: column;
}

.form input {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, .65);
  height: 40px;
  padding: 0 0 0 .7em;
  color: white;
  margin: 0 0 .7em 0;
}

.form button {
  height: 45px;
  text-transform: uppercase;
  font-weight: 600;
  color: #f88d36;
  background: #fff;
  border: 1px solid #fff;
}

.footer-logo {
  margin: 2em 0 0 0;
}

.decok-ul {
  display: flex;
  font-size: 1.2em;
}

.decok-ul i {
  font-size: 1.5em;
  margin: 0 1em 0 0;
}

.design-content h1 {
  margin: 3em 0 1em 0;
  /* text-align: center; */
}

.design-content  p {
  /* width: 60%; */
  /* text-align: center; */
  font-size: 1.1em;
  line-height: 1.7;
  /* margin: 0 auto 3em auto; */
}

.dream {
  background: #eee;
  padding: 2.5em 0;
}

.dream-content {
  text-align: center;
}

.dream-content h1 {
  margin: 0 0 .3em 0;
  color: #48487f;
}

.why-us {
  background: #48487f;
}

.text-purple {
  color: #48487f;
}

.text-orange {
  color: #f88d36;
}

.bg-purple {
  background: #48487f;
}

.font-size-big {
  font-size: 3.6em;
}

.border-orange {
  border-color: #f88d36 !important;
}

.dream-content p {
  width: 60%;
  margin: 0 auto;
  line-height: 1.7;
  font-size: 1.1em;
}

.div-k {
  margin: 0 0 2em 0;
  box-shadow: 5px 7px 15px rgba(0, 0, 0, .13);
}

.process-det {
  padding: 4em 0
}

.contact-sec p {
  font-size: 1.2em;
}

.contact-map {
  padding: 5em 0 7em 0;
}

.side-bg {
  background-image: url(../img/side-bg.jpg);
  height: 700px;
  background-size: cover;
}

.slidershow {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 13px;
  height: 10px;
  background: #ddd;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background: grey;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 200%;
  /* height: 100%; */
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
  margin-right: 15px !important;
}

.slide img{
  width: 100%;
  /* height: 100%; */
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  /* margin-left: -40%; */
  margin-left: -30%;
}
#r4:checked ~ .s1{
  /* margin-left: -60%; */
  margin-left: -50%;
}
#r5:checked ~ .s1{
  /* margin-left: -80%; */
  margin-left: -60%;
}

@media only screen and (max-width: 991px) {
  #a1d .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #a1d .col-md-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #a1d .statement {
    text-align: center;
    padding: 0 2em;
  }

  .middle {
    position: relative;
    top: 30%;
    }
}

@media only screen and (max-width: 830px) {
  nav ul {
    display: none;
  }

  .logo span {
    display: inline-block;
    margin: 0 .6em 0 0;
  }
}

@media only screen and (max-width: 767px) {
  #a1d .col-md-8,
  .design-content .col-md-3 {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  form.form-consult {
    display: none;
  }

  .product-img {
    height: 300px;
  }

  .dream-content p,
  .design-content > p {
    width: 100%;
  }

  footer {
    padding: 0 2em;
  }
}

@media only screen and (max-width: 410px) {
  h1 {
    font-size: 1.8em;
  }

  .dream-content p,
  .design-content > p {
    font-size: 1em;
  }

  .design-content h1,
  .recent-designs h1 {
    margin-top: 2em;
  }

  .recent-designs {
    padding-bottom: 3em;
  }

  .col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
