* {
  padding: 0;
  margin: 0;
}

.container {
  width: 85%;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/intro_bg.jpg');
  background-size: cover;
  overflow: hidden;
}

nav,
nav ul {
  display: flex;
}

nav {
  width: 85%;
  justify-content: space-between;
  margin: 1em auto;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  padding-bottom: 1em;
}

nav ul {
  list-style: none;
}

nav li {
  margin: 0 1.2em;
  font-size: .8em;
}

nav a {
  text-decoration: none;
  color: white;
}

a.logo {
  font-family: 'Libre Baskerville', serif;
  font-size: 2em;
  color: orange;
}

a.call {
  background: orange;
  padding: .6em 1em;
  font-size: .9em;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, .2);
}

.introduction {
  padding: 9em 0 9em 0;
}

.introduction h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 3em;
  color: rgba(255, 255, 255, .7);
}

.introduction span {
  color: orange
}

.introduction p {
  margin: 1.5em 0 2em 0;
  color: rgba(255, 255, 255, .8);
  font-family: 'Open Sans', serif;
  font-size: .9em;
  line-height: 1.5;
}

.introduction a {
  color: rgba(255, 255, 255, .7);
  text-decoration: none;
  font-family: 'Open Sans', serif;
  border-radius: 3px;
  background: #48487f;
  padding: .7em 2em;
  font-size: .9em;
  font-weight: bold;
}

.text {
  width: 60%;
  padding: 2em 0;
}

.social-links {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.social-links i {
  margin: 1em 0;
  background: rgba(255, 255, 255, .3);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.introduction .container {
  display: flex;
  justify-content: space-between;
}
